<h1><%= @user.first_name %> <%= @user.last_name%>'s Profile page</h1>

<%= image_tag @user.image.url(:large) %><br>


<% @user.posts.each do |post| %>
	<%  if current_user == post.user %>
	testing 
	<% end %>
<% end %>
